{% load static %}
<html>
<title>search result</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,300i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<head>
</head>


<body>
<!-- nav bar at the top -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" style="font-size:25px" href="/">grubsub</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="font-size:18px" href="/">search foods<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size:18px" href="/directory/">directory</a>
      </li>
    </ul>
  </div>
</nav>


<div class="w3-display-container w3-content" style="max-width: 2000px">
  <img class="w3-image" src="{% static 'img/cutting-board.jpg' %}" alt="cutting board" width="100%" height="100%">
    <div class="w3-display-middle" style="margin:0;height:80%;width:80%">
    	<div id="alph_directory" class="w3-container w3-white">
        <!-- search -->

        <div id="search">
				{% if search_query %}
				<div id = "search_query">
					<h3>{{ search_query }}</h3>
				</div>
				{% else %}
				<div id = "search_query">
					<h3>Food you'd like to replace</h3>
					<p>{{ query }}</p>
				</div>
				{% endif %}

				<div id="search_results" class="w3-container">
					{% if food_list %}
						<h3>{{food_list|length}} Suggested Substitutions</h3>
						{% for food in food_list %}
						<p>{{food}}</p>
						{% endfor %}
					{% else %}
					<h3><em>No results returned. Try another search?</em></h3>
					<img id ="sad_cone" src="https://media.giphy.com/media/26xBK9cIkUSQ104k8/source.gif"/>
					{% endif %}
			</div>

		</div>
      </div>
    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</html>

