{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<body>
    <div class='container'>
                <!-- Page Heading -->
                    
                    <h1 align='center'>{{ title }}</h1>
                    <!--Feedback table-->

                    <form action="results/" method="POST">
                      <div class="form-group row">
                       <!--  <label class="col-sm-2 col-form-label">Email</label> -->
                        <div class="justify-content-center col">
                            {% csrf_token %}
                              <input type="search_query" class="form-control" placeholder="Search Foods">
                            </div>
                        </div>
                        
                    </form>

                    <p>
                      <a id="adv_options" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Advanced Options
                      </a>
                    </p>
                      
                      <div class='collapse' id ='collapseExample'>
                      <p><em>Which nutrients and macros would you like to filter by?</em></p>
                      <fieldset class="form-group">
                        <div class="row">
                          <legend class="col-form-legend col-sm-4">Nutrients and Macros</legend>
                          <div class="col">
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    Protein
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios2" value="option2" checked>
                                    Carbs
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3" checked>
                                    Fats
                                  </label>
                              </div>
                               <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3" checked>
                                    Cholesterol
                                  </label>
                                </div>
                            </div>
                            
                        <div class='col'>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3" checked>
                                Sodium
                              </label>
                            </div>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3" checked>
                                Fiber
                              </label>
                            </div>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3" checked>
                                Sugar
                              </label>
                            </div>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3" checked>
                                Calcium
                              </label>
                            </div>
                        </div>
                    </div>

                        </div>
                      </fieldset>
                      <button type="submit" class="btn btn-primary">Feed Me</button>
                      
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
